








    


{% extends 'layout.html' %}
{% block content %}
    














{% for l in Class %}
    

<nav class="class-name">
    {{l}} ({{quote[l]}})
</nav>




{% for sub_name in Class[l] %}
<div class="sub-list">

    <div class="navv">
        <nav class="subject-title"><p class="txt" id="text" name="ntext">{{sub_name}} ({{symbol[sub_name]}}) </p>

        </nav>
    </div>


    <div class="subject">
        <div class="subject-photo">
            <img src={{photo[sub_name]}}
                alt="">
        </div>

        {% for sub in Class[l][sub_name] %}
        <div class="cards">
            <div class="txt" id="chname">
               <p id="chapter-name">{{sub}}</p>
            </div>
            <div class="card-actions">
                <button class="download" onclick="location.href = '{{Class[l][sub_name][sub]}}'">Download</button>
            </div>
        </div>
        {% endfor %}




    </div>




</div>





{% endfor %}

{% endfor %}

{% endblock content %}
